finite-state-automata/finite-state-automata
circuit-verification/circuit-bench
finite-state-automata/Solution.py

__pycache__
.SD_Store

.DS_Store

# Byte-compiled / optimized / DLL files
.idea
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.vscode
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
